<div class="row">
    <h1>EXPERIENCIA LABORAL</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet, consectetur adip djlfj sldkjfoiejl ñlskjdfñlij jlsdkjfl lldjlf llsdjf lsjdlkjfljoie lsldk ljljdlfjas</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet, consectetur adip djlfj sldkjfoiejl ñlskjdfñlij jlsdkjfl lldjlf llsdjf lsjdlkjfljoie lsldk ljljdlfjas</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet, consectetur adip djlfj sldkjfoiejl ñlskjdfñlij jlsdkjfl lldjlf llsdjf lsjdlkjfljoie lsldk ljljdlfjas</p>
        </ul>
    </div>
</div>