<div class="row">
    <h1>HARD AND SOFT SKILLS</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7F00'"
            [innerStrokeColor]="'#e9e0c2'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7F00'"
            [innerStrokeColor]="'#e9e0c2'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7F00'"
            [innerStrokeColor]="'#e9e0c2'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7F00'"
            [innerStrokeColor]="'#e9e0c2'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7F00'"
            [innerStrokeColor]="'#e9e0c2'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7F00'"
            [innerStrokeColor]="'#e9e0c2'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

</div>