

div{
    background-color: black;
    text-align: center;
    font-family: 'Montserrat';
    color: rgb(233, 224, 194);
}

#nombre {
    font-weight: bold;
    margin-top: 25%;
    font-size: 24px;
}
@media (min-width: 578px) {
#fotodeperfil{ 
    position: absolute;
    border-radius: 100%;
    width: 15%;
    box-shadow: 5px 5px 5px black; 
    left: 2%;
    top: 350px;
    border-color: black;
    border: 5px solid black;
}
}

@media (max-width: 577px) {
    #fotodeperfil{ 
        position: absolute;
        border-radius: 100%;
        width: 20%;
        box-shadow: 5px 5px 5px black;
        left: 42%;
        top: 240px;
        border-color: black;
        border: 5px solid black;
    }
    }

#acercade{
    margin-top: 3%;
}