<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.JPG" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Andres Acuña</p>
        <p>Full Stack development jr. </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h2 id="acercade">Acerca de</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adip djlfj sldkjfoiejl ñlskjdfñlij jlsdkjfl lldjlf llsdjf lsjdlkjfljoie lsldk ljljdlfjas</p>
        </span>
    </div>
</div>